<!--home_menu-->
    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">NSP——网络安全防护与管控</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
				<h1>成员介绍</h1>
				<h2><a href="/">导师</a></h2>
				<ul class="artical-list">
				{% for post in site.categories.tutor%}
					<li><a href="{{ post.url }}" >{{ post.title }}</a></li>
				{% endfor %}
				</ul>

				<h2><a href="/worker">员工</a></h2>
				<ul class="artical-list">
				{% for post in site.categories.worker%}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				</ul>

				<h2><a href="/student">学生</a></h2>
				<ul class="artical-list">
				{% for post in site.categories.student%}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				</ul>
        </div>
        <script type="text/javascript">
            $(function(){
                $('.home-follow').click(function(e){
                    e.preventDefault();

                    if($('.home-contact').is(':visible')){
                        $('.home-contact').slideUp(100);
                    }else{
                        $('.home-contact').slideDown(100);
                    }
                });
            })
        </script>
<!--End home_menu-->